
.input-del-row{
    display: flex;
    gap: 8px;
    margin-bottom: 4px;
}
.input-del-row button {
    flex: 1;
    width: auto;
}
body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-bottom: 4px;
}

button {
    background: black;
    color: white;
    padding: 10px 20px;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

#pin-tab-btn {
    width: 100%;
    display: block;
    margin-bottom: 4px;
}

 .or-divider {
    display: flex;
    align-items: center;
    margin: 8px 0 8px 0;
}

.or-divider .line {
    flex: 1;
    height: 1px;
    background: #ccc;
}

.or-divider .or-text {
    margin: 0 16px;
    color: #888;
    font-weight: bold;
    letter-spacing: 2px;
}

#delete-all-btn {
    background: white;
    color: red;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

.delete-x {
    background-color: white;
    border: none;
    color: red;
    padding: 0px;
    margin-left: 20px;
}